.header_page {
  // font-size: 24px;
  // display: flex;
  .fun_icons {
    display: flex;
    justify-content: space-evenly;
    .screen_use_page,
    .skin_use_page {
      font-size: 18px;
    }
  }
}
